

p {
    font-size: 24px;
    background-color: rgb(255, 145, 0);
}

main {
    text-align: center;
}

.conteiner {
    margin: 20px;
    display: inline-block;
    text-align: center;
    background-color: beige;
}

.conteiner>img {
    max-width: 300px;
}